@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

* {
     list-style-type: none;
     text-decoration: none;
     /* overflow-y: scroll; */
}

a {
     color: white;
}

.navbar {
     height: 7%;
     width: 100%;
     position: fixed;
     top: 0;
     display: flex;
     align-items: center;
     background-color: #000000;
     color: rgb(255, 255, 255);
     font-size: 20px;
     font-weight: bold;
     padding: 10px;
}

.navbar ul {
     display: flex;
     justify-content: space-between;
     width: 95%;
}

.navbar ul li {
     display: flex;
     align-items: center;
     gap: 10px;
}

.logofont {
     font-family: "Moon Dance", serif;
     font-weight: 400;
     font-style: normal;
     font-size: 35px;
}

.sidebar {
     position: fixed;
     left: 3px;
     top: 8.5%;
     width: 15%;
     height: 95%;
     background-color: rgb(0, 0, 0);
     color: white;
}

.sidebar ul {

     text-align: left;
     font-family: 'Nunito';
     padding: 0;
     margin: 0;
     list-style-type: none;

     display: flex;

     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}

.icons {
     height: 50px;
     width: 50px;
}

.components {
     width: 100%;
     cursor: pointer;
     display: flex;
     gap: 11px;
     padding: 5px 5px;
     justify-content: space-between;
     align-items: center;

}

.sidebar li {
     width: 100%;
     padding: 5px 10px;
     font-size: large;
     font-weight: normal;
}

.workspace {
     height: 90vh;
     width: 80%;
     margin: 0;
     position: fixed;
     top: 8%;
     left: 18%;
     border: 1px solid rgb(0, 0, 0);
     padding: 10px;
}



.workspace textarea {
     /* padding: 10px; */
     border: none;

     height: 88vh;
     width: 100%;
     box-sizing: border-box;
     resize: none;
}

::-webkit-scrollbar {
     display: none;
}

textarea:focus {
     outline: none;
}

.dropdown li {
     color: white;
}

.dropdown {
     background-color:
          rgb(0, 0, 0);
     color: white;
     position: relative;
     box-sizing: border-box;
     height: auto;

     z-index: 1;
     display: none;
}